doctype 5
html(lang="en")
  head
    title Kiitollisuuspurkki
    include bootstrap.css
    include style.css
    
    script(src="jquery.js")
    script(src="bootstrap.js")
    block page_script
  body
    div#container
      block content