body {
  background: #2c4762 url(/img/background.png) top repeat-x; 
}

#container {
  padding: 0 30%;
  text-align: center;
  color: white;

}

#thanks {
  width: 96%;
  height: 10em;
  border: 5px solid #24292d;
}

#submit {
  width: 100%;
  font-size: 2em;
  line-height: 2em;
}

.well {
  color: #2c4762;
}

.well:first-child {
  margin-top: 2em;
}

.thank-you {
  text-align: justify;
}

.time {
  font-size: 0.8em;
  font-style: italic;
}