extends layout

block page_script
  script
    $( document ).ready(function(){
      $( ".thank-you" ).each(function(){
        var $this = $(this);
        $this.html( $this.text().replace(/\n/g, "<br />") );
      });
    });

block content
  each thankyou in thanks
    div.well
      p.thank-you= thankyou.thankyou
      p.time 
        - if (typeof(thankyou.date) == "string"){
          = thankyou.date
        - } else {
          At #{thankyou.date.toLocaleTimeString().split(":").splice(0, 2).join(":")} on #{thankyou.date.toLocaleDateString()}
        - }